body {
  background-color: #F1F1F1;
  color: #23120B;
  text-align: center;
  font-family: "Open Sans"
}

::selection {
  background-color: #c0c0f2;
}

.main-div {
  margin-top: 4%;
  margin-bottom: 4%;
}

.title-div {
  height: 100%;
  margin: auto 8%;
}

.content-div {
  margin: 2% 28%;
}

table {
  margin: auto;
  padding: 0 1rem;
}

th, td {
  text-align: center;
  padding: 0 1.5rem;
}

th {
  font-family: Merriweather;
  font-weight: 700;
}

tr {
  height: 2rem;
}

hr {
  margin: 4% 8%;
  border-top: 5px solid #21209C;
  border-radius: 5px;
}

h1 {
  font-family: "Kalam";
  font-size: 6rem;
  line-height: 7.5rem;
  color: #21209C;
}

h2 {
  margin-bottom: 1.25rem;
}

h3 {
  margin: 1rem auto;
}

h5 {
  font-size: 1rem;
}

.bold {
  font-weight: 700;
}

a {
  color: #21209C;
  text-decoration: none;
}

a:hover {
  color: #FDB827;
}

.my-button {
  background-color: #21209C;
  color: #F1F1F1;
  border-radius: 5%;
  border: none;
  width: 5rem;
  height: 3rem;
  font-size: 1.5rem;
  margin: 1rem 1rem;
}

input[type=text] {
  margin: 0.5rem auto;
}

@media (max-width: 1200px) {
  .content-div {
    margin: 5% auto;
  }
}

@media (max-width: 1000px) {
  hr {
    margin: 9% 8%;
  }

  h2 {
    font-size: calc(2.5rem + 1.5vw);
    margin-bottom: 2.5rem;
  }

  h3 {
    font-size: calc(2.5rem + 1.25vw);
    margin: 1rem auto;
  }

  p {
    font-size: 2.25rem;
  }

  h5 {
    font-size: 2rem;
  }
}

/*
Palette
https://colorhunt.co/palette/226633
*/
