{% extends "layout.html" %}

{% block content %}

<h2>Website statitics</h2>

<div class="content-div">
  <h3>Views Today</h3>
  {{ views_today }}
</div>

<div class="content-div">
  <h3>View Count</h3>
  {{ view_count }}
</div>

<div class="content-div">
  <h3>Reads Today</h3>
  {{ reads_today }}
</div>

<div class="content-div">
  <h3>Read Count</h3>
  {{ read_count }}
</div>

<div class="content-div">
  <form class="" action="/stats" method="post">
    <button type="submit" name="logout" class="my-button">Exit</button>
  </form>
</div>

{% endblock %}
